<h2>Financial Goal</h2>

<div *ngIf="showQuestion">
    <form #goalForm="ngForm" (ngSubmit)="onSubmit()">
        <label for="financialGoal">Choose your financial goal:</label>
        <select id="financialGoal" name="financialGoal" [(ngModel)]="financialGoal" required>
            <option *ngFor="let option of financialGoalOptions" [value]="option">{{ option }}</option>
        </select>

        <button type="submit">Get Advice</button>
    </form>
</div>


<div *ngIf="!showQuestion && financialGoal === 'Pay off Debt'">
    <h3>Debt Payoff Advice</h3>
    <p>{{ debtAdvice }}</p>
</div>
