<form [formGroup]="budgetForm">
    <!-- Post Tax Income -->
    <h3>Income</h3>
    <label for="postTaxIncome">Post Tax Income</label>
    <input type="number" id="postTaxIncome" formControlName="postTaxIncome">
  
    <!-- Cash -->
<div class="form-section">
    <h3>Cash</h3>
    <div formArrayName="cashItems">
      <div *ngFor="let cashItem of cashItems.controls; let i = index" [formGroupName]="i">
        <label for="cashName{{ i }}">Cash Item {{ i + 1 }}</label>
        <select id="cashName{{ i }}" formControlName="name">
          <option *ngFor="let itemName of cashItemNames" [value]="itemName">{{ itemName }}</option>
        </select>
  
        <!-- Input field for amount -->
        <label for="cashAmount{{ i }}">Amount</label>
        <input type="number" id="cashAmount{{ i }}" formControlName="amount">
  
        <!-- Add more input fields here as needed -->
      </div>
    </div>
  
    <button (click)="addCashItem()">Add Cash Item</button>
  </div>
  
  <!-- Debt -->
  <h3>Debt</h3>
  <div formArrayName="debtItems">
    <div *ngFor="let debtItem of debtItems.controls; let i = index" [formGroupName]="i">
      <label for="debtName{{ i }}">Debt Item {{ i + 1 }}</label>
      <select id="debtName{{ i }}" formControlName="name">
        <option *ngFor="let itemName of debtItemNames" [value]="itemName">{{ itemName }}</option>
      </select>
  
      <!-- Input field for amount -->
      <label for="debtAmount{{ i }}">Amount</label>
      <input type="number" id="debtAmount{{ i }}" formControlName="amount">
  
      <!-- Input field for interest rate -->
      <label for="debtInterestRate{{ i }}">Interest Rate (%)</label>
      <input type="number" id="debtInterestRate{{ i }}" formControlName="interestRate">
  
      <!-- Add more input fields here as needed -->
    </div>
  </div>
  
  <button (click)="addDebtItem()">Add Debt Item</button>
  
  
    <!-- Current Necessities -->
    <h3>Current Necessities</h3>
    <div formArrayName="necessities">
      <div *ngFor="let necessity of necessities.controls; let i = index" [formGroupName]="i">
        <label for="necessityName{{ i }}">Necessity Item {{ i + 1 }}</label>
        <input type="text" id="necessityName{{ i }}" formControlName="name">
  
        <label for="necessityAmount{{ i }}">Amount</label>
        <input type="number" id="necessityAmount{{ i }}" formControlName="amount">
  
        <button (click)="addNecessity()" *ngIf="i === necessities.length - 1">Add Necessity</button>
      </div>
    </div>
  
    <button (click)="onSubmit()" type="submit">Submit</button>
  </form>
  